services:
  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    network_mode: host
    environment:
      TZ: "Australia/Sydney"
      FTLCONF_dns_listeningMode: "ALL"
    volumes:
      - pihole_data:/etc/pihole
    cap_add:
      - NET_ADMIN
    restart: unless-stopped

volumes:
  pihole_data:
    name: pihole_data
