services:
  jellyfin:
    container_name: jellyfin
    image: jellyfin/jellyfin
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    volumes:
      - jellyfin_config:/config
      - jellyfin_cache:/cache
      - type: bind
        source: "/share/Media"
        target: /media

    restart: unless-stopped
    environment:
      - JELLYFIN_PublishedServerUrl=http://jellyfin.ugray.net/
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  jellyfin_config:
    name: jellyfin_config
  jellyfin_cache:
    name: jellyfin_cache
